/* app css stylesheet */

body {
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 75%;
}

ul {
    list-style-type: none;
}

.reference {
  font-size: 150%;
}



